* {
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
}
body {
  background-color: rgba(26, 26, 26, 1);
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}
header {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

#button-container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: end;
}

button {
  background: rgba(0, 163, 0, 1);
  width: 109px;
  height: 44px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}
.todo {
  background-color: rgba(16, 16, 16, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  min-width: 380px;
  min-height: 772px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.in-progress {
  background-color: rgba(16, 16, 16, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  min-width: 380px;
  min-height: 772px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.done {
  background-color: rgba(16, 16, 16, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  min-width: 380px;
  min-height: 772px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
}

.blocked {
  background-color: rgba(16, 16, 16, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  min-width: 380px;
  min-height: 772px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.inner {
  width: 340px;
  height: 82px;
  margin-top: 20px;
  display: flex;
  position: relative;
}
.text {
  width: 290px;
  height: 48px;
  display: flex;
  flex: 1;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);
}

.todo .round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  margin-top: 4px;
}

.in-progress .round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(163, 163, 0, 1);
  border-radius: 50%;
  margin-top: 4px;
}

.done .round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 163, 0, 1);
  border-radius: 50%;
  margin-top: 4px;
}

.blocked .round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(163, 0, 0, 1);
  border-radius: 50%;
  margin-top: 4px;
}

#modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 3;
  display: none;
}

#modal-open {
  display: block;
}

.modal-content {
  background-color: #1e1e1e;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding: 12px;
  color: white;
  margin-top: 400px;
  width: 370px;
  height: 376px;
}

.modal-content > input {
  padding: 6px;
}
.task-style {
  color: white;
}
p {
  color: white;
  background-color: rgba(26, 26, 26, 1);
  width: 340px;
  height: 64px;
  border-radius: 15px;
}
#tasks-status {
  background-color: rgba(26, 26, 26, 1);
  margin-bottom: 70px;
  margin-top: 20px;
  width: 290px;
  height: 48px;
}
#task-name {
  width: 290px;
  height: 48px;
  background-color: rgba(26, 26, 26, 1);
}
