* {
  margin: 0;
  font-family: Inter;
  box-sizing: border-box;
}
body {
  background-color: rgba(26, 26, 26, 1);
  border-radius: 10px;
  width: 100vw;
  height: 100vh;
  padding-top: 30px;
}
header {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

#button-container {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: end;
}

button {
  background: rgba(0, 163, 0, 1);
  width: 109px;
  height: 44px;
  display: flex;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  border: none;
}

button:hover {
  cursor: pointer;
}

#todo,
#in-progress,
#done,
#blocked {
  background-color: rgba(16, 16, 16, 1);
  border: 1px solid rgba(51, 51, 51, 1);
  min-width: 380px;
  min-height: 850px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

#todo #round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(217, 217, 217, 1);
  border-radius: 50%;
  margin-top: 4px;
}

#in-progress #round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(163, 163, 0, 1);
  border-radius: 50%;
  margin-top: 4px;
}

#done #round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(0, 163, 0, 1);
  border-radius: 50%;
  margin-top: 4px;
}

#blocked #round-shape {
  width: 15px;
  height: 15px;
  background-color: rgba(163, 0, 0, 1);
  border-radius: 50%;
  margin-top: 4px;
}

#num-todo,
#num-in-progress,
#num-done,
#num-blocked {
  width: 10px;
  height: 15px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  margin-top: 3px;
  position: absolute;
  right: 0;
}

#inner {
  width: 340px;
  height: 82px;
  margin-top: 20px;
  display: flex;
  position: relative;
}
#t5 {
  width: 300px;
  height: 42px;
  display: flex;
  flex: 1;
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 1);
}

.task-card {
  background-color: rgba(26, 26, 26, 1);
  width: 340px;
  height: 94px;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.task-name {
  color: white;
  font-size: 16px;
  flex-grow: 1;
}

.task-actions {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
}

.task-actions button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.task-actions img {
  width: 20px;
  height: 20px;
}

#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  display: none;
}

#modal-content {
  width: 400px;
  height: 410px;
  border: 1px solid rgba(153, 153, 153, 1);
  border-radius: 16px;
  background-color: rgba(30, 30, 30, 1);
  margin: 15% auto;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  position: relative;
}

#modal-content > h2 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 50px;
  margin-bottom: 10px;
}

input,
select {
  width: 299px;
  height: 49px;
  border: 1px solid rgba(153, 153, 153, 1);
  background-color: rgba(30, 30, 30, 1);
  border-radius: 4px;
  padding: 12px;
  margin-top: 15px;
  color: rgba(153, 153, 153, 1);
  font-size: 16px;
  font-weight: 400;
}

#modal-content > button {
  width: 300px;
  height: 50px;
  margin-top: 100px;
}
#close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
